@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0%;
    padding:0%;
    border:0%;
}
.app{
    margin: 50px;
    display:flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
}
.bg{
    background-color: rgb(119, 178, 255);
    height: 100%;
}
.tweetinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.input{
    border: none;
    padding: 1%;
    margin: .2%;
    width: 30%;
    border-radius: 7px;
    background-color: whitesmoke;
    text-overflow: ellipsis;
}
.input:focus{
    transition: .5s;
    background-color: rgb(185, 216, 255);
    outline: none;
}
.tweetfilter{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}
.filterinput{
    border: none;
    padding: 1%;
    margin: .1%;
    margin-top: .5%;
    margin-bottom: .5%;
    padding-top: .4%;
    padding-bottom: .4%;
    width: 15%;
    border-radius: 7px;
    background-color: whitesmoke;
}
.filterinput:focus{
    background-color: rgb(185, 216, 255);
    outline: none;
    transition: .5s;
}
.inputbutton{
    border-radius: 5px;
    width: 100px;
    background-color: whitesmoke;
    padding: 10px;
    border:none;
    font-family: 'Bebas Neue', cursive;
    color:black;
    letter-spacing: .25em;
    margin: 10px;
    height: auto;
    transition: .5s;
}
.inputbutton:hover{
    background-color: rgb(155, 199, 255);
    border-radius: 30px;
}
.inputbutton:active{
    background-color:rgb(255, 255, 255);
}