@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.tweets {
    text-align: center;
    background-color: white;
    line-height: 175%;
    display: flex;
    flex-direction: column;
    color: black;
    text-shadow: 2px 2px 6px whitesmoke;
    padding: 10px;
    margin:10px;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 50px;
    height: 50px;
}
.button{
    background-color: rgb(119, 178, 255);
    padding: 10px;
    border:none;
    font-family: 'Bebas Neue', cursive;
    color:black;
    text-shadow: 1px 1px whitesmoke;
    letter-spacing: 3px;
    margin: 10px;
    width: 50px;
    height: 50px;
    animation-fill-mode: forwards;
}
@keyframes buttonglide{
    0%      {width: 50px; height: 50px}
    100%    {width: 100px; height: 50px}
}
button:hover{
    animation-name: buttonglide;
    animation-duration: 1s;
}